@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@400;800&display=swap");
* {
  box-sizing: border-box;
}

.header {
  width: 100vw;
  position: fixed;
  top: 0;
  background: rgba(16, 16, 29, 0.9);
}
.header .container {
  max-width: 1172px;
  margin: 0 auto;
  padding: 33.5px 0 31.5px 0;
}
@media (max-width: 1200px) {
  .header .container {
    width: 95%;
  }
}
.header .container .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .header-wrapper .header-main .logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
  text-transform: uppercase;
  color: #ffffff;
}
.header .container .header-wrapper .header-main .logo span {
  color: #42a9ed;
}
.header .container .header-wrapper .menu {
  width: 37.1%;
}
@media (max-width: 900px) {
  .header .container .header-wrapper .menu {
    width: 50%;
  }
}
@media (max-width: 650px) {
  .header .container .header-wrapper .menu {
    width: 30px;
  }
}
.header .container .header-wrapper .menu .menu-list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 650px) {
  .header .container .header-wrapper .menu .menu-list {
    display: none;
    position: absolute;
    right: 50px;
    top: 20px;
    background-color: #000;
    z-index: 66;
    padding: 20px 20px 20px;
    border-radius: 15px;
    transition: right 0.5s;
  }
}
.header .container .header-wrapper .menu .menu-list .menu-list__item {
  list-style-type: none;
}
@media (max-width: 650px) {
  .header .container .header-wrapper .menu .menu-list .menu-list__item {
    padding-bottom: 10px;
  }
}
.header .container .header-wrapper .menu .menu-list .menu-list__item .menu-list__link {
  color: #ffffff;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}
.header .container .header-wrapper .menu .menu-list .menu-list__item .menu-list__link:hover {
  color: #43abf0;
  transition: 0.3s;
}
.header .container .header-wrapper .menu .menu-list_active {
  right: 50px;
}
.header .container .header-wrapper .menu .menu-burder {
  display: none;
  position: relative;
}
@media (max-width: 650px) {
  .header .container .header-wrapper .menu .menu-burder {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
.header .container .header-wrapper .menu .menu-burder span {
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  transition: 0.2s;
  border-radius: 1px;
}
.header .container .header-wrapper .menu .menu-burder span:nth-child(1) {
  top: 0;
}
.header .container .header-wrapper .menu .menu-burder span:nth-child(2) {
  top: 13.5px;
}
.header .container .header-wrapper .menu .menu-burder span:nth-child(3) {
  bottom: 0;
}
.header .container .header-wrapper .menu .menu-burder:hover > span {
  background-color: #43abf0;
}
.header .container .header-wrapper .menu .menu-burder_active span:nth-child(1) {
  transform: rotate(45deg);
  top: calc(50% - 1.5px);
  left: -5px;
  width: 40px;
}
.header .container .header-wrapper .menu .menu-burder_active span:nth-child(2) {
  opacity: 0;
}
.header .container .header-wrapper .menu .menu-burder_active span:nth-child(3) {
  transform: rotate(-45deg);
  top: calc(50% - 1.5px);
  left: -5px;
  width: 40px;
}

.oders {
  width: 100vw;
  background-image: url("../../img/fone1(1920x850).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
@media (max-width: 1439px) {
  .oders {
    background-image: url("../../img/fone1(1439x637).png");
  }
}
@media (max-width: 1247px) {
  .oders {
    background-image: url("../../img/fone1(1247x552).png");
  }
}
@media (max-width: 791px) {
  .oders {
    background-image: url("../../img/fone1(791x350).png");
    background-position: top center;
  }
}
@media (max-width: 650px) {
  .oders {
    background-image: url("../../img/fone1(575x255).png");
  }
}
.oders .container {
  max-width: 1172px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .oders .container {
    width: 95%;
  }
}
.oders .container .oders-wrapper .oders-title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  color: #000;
  padding-top: 160px;
  margin-bottom: 80px;
}
@media (max-width: 1400px) {
  .oders .container .oders-wrapper .oders-title {
    font-size: 38px;
    line-height: 38px;
    margin-bottom: 50px;
    padding-top: 140px;
  }
}
@media (max-width: 1250px) {
  .oders .container .oders-wrapper .oders-title {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 30px;
    padding-top: 120px;
  }
}
@media (max-width: 650px) {
  .oders .container .oders-wrapper .oders-title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 15px;
  }
}
.oders .container .oders-wrapper .oders-title span {
  color: #3e9cdc;
}
.oders .container .oders-wrapper .oders-text .oders-text__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-bottom: 10px;
}
.oders .container .oders-wrapper .oders-text .oders-text__points {
  margin-bottom: 80px;
}
@media (max-width: 1650px) {
  .oders .container .oders-wrapper .oders-text .oders-text__points {
    margin-bottom: 40px;
  }
}
@media (max-width: 1250px) {
  .oders .container .oders-wrapper .oders-text .oders-text__points {
    margin-bottom: 30px;
  }
}
@media (max-width: 1000px) {
  .oders .container .oders-wrapper .oders-text .oders-text__points {
    margin-bottom: 20px;
  }
}
@media (max-width: 650px) {
  .oders .container .oders-wrapper .oders-text .oders-text__points {
    margin-bottom: 10px;
  }
}
.oders .container .oders-wrapper .oders-text .oders-text__points .points {
  margin-bottom: 5px;
  position: relative;
}
.oders .container .oders-wrapper .oders-text .oders-text__points .points span {
  position: absolute;
  top: 12px;
  width: 5px;
  height: 1.5px;
  background-color: #000;
}
.oders .container .oders-wrapper .oders-text .oders-text__points .points p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  padding-left: 16px;
}
.oders .container .oders-wrapper .oders-button {
  padding-bottom: 202px;
}
@media (max-width: 1650px) {
  .oders .container .oders-wrapper .oders-button {
    padding-bottom: 122px;
  }
}
@media (max-width: 1250px) {
  .oders .container .oders-wrapper .oders-button {
    padding-bottom: 102px;
  }
}
@media (max-width: 1000px) {
  .oders .container .oders-wrapper .oders-button {
    padding-bottom: 52px;
  }
}
@media (max-width: 650px) {
  .oders .container .oders-wrapper .oders-button {
    padding-bottom: 30px;
  }
}
@media (max-width: 420px) {
  .oders .container .oders-wrapper .oders-button .button-wrapper {
    margin: 0 auto;
    width: 183px;
  }
}
.oders .container .oders-wrapper .oders-button .button-wrapper .oders-button__blue {
  width: 183px;
  height: 43px;
  background: #3e9cdc;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
@media (max-width: 420px) {
  .oders .container .oders-wrapper .oders-button .button-wrapper .oders-button__blue {
    margin-bottom: 30px;
  }
}
.oders .container .oders-wrapper .oders-button .button-wrapper .oders-button__white {
  width: 183px;
  height: 43px;
  background: #ffffff;
  border: 1px solid #6f6d7b;
  color: #2a2b30;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin-left: 30px;
}
@media (max-width: 420px) {
  .oders .container .oders-wrapper .oders-button .button-wrapper .oders-button__white {
    margin-left: 0;
  }
}/*# sourceMappingURL=style.css.map */