@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@400;800&display=swap");
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
  height: 0;
}

::-webkit-scrollbar-track {
  background-color: #3d4050;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #3e9cdc;
  border-radius: 3px;
}

.header {
  width: 100vw;
  position: fixed;
  top: 0;
  background: rgba(16, 16, 29, 0.9);
}
.header .container {
  max-width: 1172px;
  margin: 0 auto;
  padding: 33.5px 6px 31.5px 0;
}
@media (max-width: 1200px) {
  .header .container {
    width: 95%;
  }
}
.header .container .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .header-wrapper .header-main .logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
  text-transform: uppercase;
  color: #ffffff;
}
.header .container .header-wrapper .header-main .logo span {
  color: #42a9ed;
}
.header .container .header-wrapper .menu {
  width: 37.1%;
}
@media (max-width: 900px) {
  .header .container .header-wrapper .menu {
    width: 50%;
  }
}
@media (max-width: 650px) {
  .header .container .header-wrapper .menu {
    width: 30px;
  }
}
.header .container .header-wrapper .menu .menu-list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 650px) {
  .header .container .header-wrapper .menu .menu-list {
    display: none;
    position: absolute;
    right: 50px;
    top: 20px;
    background-color: #000;
    z-index: 66;
    padding: 20px 20px 20px;
    border-radius: 15px;
    transition: right 0.5s;
  }
}
.header .container .header-wrapper .menu .menu-list .menu-list__item {
  list-style-type: none;
}
@media (max-width: 650px) {
  .header .container .header-wrapper .menu .menu-list .menu-list__item {
    padding-bottom: 10px;
  }
}
.header .container .header-wrapper .menu .menu-list .menu-list__item .menu-list__link {
  color: #ffffff;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}
.header .container .header-wrapper .menu .menu-list .menu-list__item .menu-list__link:hover {
  color: #43abf0;
  transition: 0.3s;
}
.header .container .header-wrapper .menu .menu-list_active {
  right: 50px;
}
.header .container .header-wrapper .menu .menu-burder {
  display: none;
  position: relative;
}
@media (max-width: 650px) {
  .header .container .header-wrapper .menu .menu-burder {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
.header .container .header-wrapper .menu .menu-burder span {
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  transition: 0.2s;
  border-radius: 1px;
}
.header .container .header-wrapper .menu .menu-burder span:nth-child(1) {
  top: 0;
}
.header .container .header-wrapper .menu .menu-burder span:nth-child(2) {
  top: 13.5px;
}
.header .container .header-wrapper .menu .menu-burder span:nth-child(3) {
  bottom: 0;
}
.header .container .header-wrapper .menu .menu-burder:hover > span {
  background-color: #43abf0;
}
.header .container .header-wrapper .menu .menu-burder_active span:nth-child(1) {
  transform: rotate(45deg);
  top: calc(50% - 1.5px);
  left: -5px;
  width: 40px;
}
.header .container .header-wrapper .menu .menu-burder_active span:nth-child(2) {
  opacity: 0;
}
.header .container .header-wrapper .menu .menu-burder_active span:nth-child(3) {
  transform: rotate(-45deg);
  top: calc(50% - 1.5px);
  left: -5px;
  width: 40px;
}

.oders {
  width: 100vw;
  background-image: url("../img/fone1(1920x850).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
@media (max-width: 1439px) {
  .oders {
    background-image: url("../img/fone1(1439x637).png");
  }
}
@media (max-width: 1247px) {
  .oders {
    background-image: url("../img/fone1(1247x552).png");
  }
}
@media (max-width: 791px) {
  .oders {
    background-image: url("../img/fone1(791x350).png");
    background-position: top center;
  }
}
@media (max-width: 650px) {
  .oders {
    background-image: url("../img/fone1(575x255).png");
  }
}
.oders .container {
  max-width: 1172px;
  margin: 0 auto;
  padding-right: 6px;
}
@media (max-width: 1200px) {
  .oders .container {
    width: 95%;
  }
}
.oders .container .oders-wrapper .oders-title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  color: #000;
  padding-top: 160px;
  margin-bottom: 80px;
}
@media (max-width: 1400px) {
  .oders .container .oders-wrapper .oders-title {
    font-size: 38px;
    line-height: 38px;
    margin-bottom: 50px;
    padding-top: 140px;
  }
}
@media (max-width: 1250px) {
  .oders .container .oders-wrapper .oders-title {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 30px;
    padding-top: 120px;
  }
}
@media (max-width: 650px) {
  .oders .container .oders-wrapper .oders-title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 15px;
  }
}
.oders .container .oders-wrapper .oders-title span {
  color: #3e9cdc;
}
.oders .container .oders-wrapper .oders-text .oders-text__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-bottom: 10px;
}
.oders .container .oders-wrapper .oders-text .oders-text__points {
  margin-bottom: 80px;
}
@media (max-width: 1650px) {
  .oders .container .oders-wrapper .oders-text .oders-text__points {
    margin-bottom: 40px;
  }
}
@media (max-width: 1250px) {
  .oders .container .oders-wrapper .oders-text .oders-text__points {
    margin-bottom: 30px;
  }
}
@media (max-width: 1000px) {
  .oders .container .oders-wrapper .oders-text .oders-text__points {
    margin-bottom: 20px;
  }
}
@media (max-width: 650px) {
  .oders .container .oders-wrapper .oders-text .oders-text__points {
    margin-bottom: 10px;
  }
}
.oders .container .oders-wrapper .oders-text .oders-text__points .points {
  margin-bottom: 5px;
  position: relative;
}
.oders .container .oders-wrapper .oders-text .oders-text__points .points span {
  position: absolute;
  top: 12px;
  width: 5px;
  height: 1.5px;
  background-color: #000;
}
.oders .container .oders-wrapper .oders-text .oders-text__points .points p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  padding-left: 16px;
}
.oders .container .oders-wrapper .oders-button {
  padding-bottom: 202px;
}
@media (max-width: 1650px) {
  .oders .container .oders-wrapper .oders-button {
    padding-bottom: 122px;
  }
}
@media (max-width: 1250px) {
  .oders .container .oders-wrapper .oders-button {
    padding-bottom: 102px;
  }
}
@media (max-width: 1000px) {
  .oders .container .oders-wrapper .oders-button {
    padding-bottom: 52px;
  }
}
@media (max-width: 650px) {
  .oders .container .oders-wrapper .oders-button {
    padding-bottom: 30px;
  }
}
@media (max-width: 420px) {
  .oders .container .oders-wrapper .oders-button .button-wrapper {
    margin: 0 auto;
    width: 183px;
  }
}
.oders .container .oders-wrapper .oders-button .button-wrapper .oders-button__blue {
  width: 183px;
  height: 43px;
  background: #3e9cdc;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
@media (max-width: 420px) {
  .oders .container .oders-wrapper .oders-button .button-wrapper .oders-button__blue {
    margin-bottom: 30px;
  }
}
.oders .container .oders-wrapper .oders-button .button-wrapper .oders-button__white {
  width: 183px;
  height: 43px;
  background: #ffffff;
  border: 1px solid #6f6d7b;
  color: #2a2b30;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin-left: 30px;
}
@media (max-width: 420px) {
  .oders .container .oders-wrapper .oders-button .button-wrapper .oders-button__white {
    margin-left: 0;
  }
}

.form {
  width: 100vw;
  background-color: #272733;
  background-image: url("../img/fone2(1920x920).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
@media (max-width: 1439px) {
  .form {
    background-image: url("../img/fone2(1440x690).png");
  }
}
@media (max-width: 1247px) {
  .form {
    background-image: url("../img/fone2(1248x598).png");
  }
}
@media (max-width: 791px) {
  .form {
    background-image: url("../img/fone2(806x386).png");
    background-position: top center;
  }
}
@media (max-width: 650px) {
  .form {
    background-image: url("../img/fone2(576x276).png");
  }
}
.form .container {
  max-width: 1172px;
  margin: 0 auto;
  padding-bottom: 150px;
  padding-right: 6px;
}
@media (max-width: 1200px) {
  .form .container {
    width: 95%;
  }
}
@media (max-width: 1650px) {
  .form .container {
    padding-bottom: 122px;
  }
}
@media (max-width: 1250px) {
  .form .container {
    padding-bottom: 102px;
  }
}
@media (max-width: 1000px) {
  .form .container {
    padding-bottom: 52px;
  }
}
@media (max-width: 650px) {
  .form .container {
    padding-bottom: 30px;
  }
}
.form .container .form-wrapper {
  padding-top: 120px;
  text-align: center;
}
@media (max-width: 1650px) {
  .form .container .form-wrapper {
    padding-top: 110px;
  }
}
@media (max-width: 1250px) {
  .form .container .form-wrapper {
    padding-top: 102px;
  }
}
@media (max-width: 1000px) {
  .form .container .form-wrapper {
    padding-top: 52px;
  }
}
@media (max-width: 650px) {
  .form .container .form-wrapper {
    padding-top: 30px;
  }
}
.form .container .form-wrapper .form-text {
  text-align: center;
  margin-bottom: 80px;
}
@media (max-width: 1650px) {
  .form .container .form-wrapper .form-text {
    margin-bottom: 70px;
  }
}
@media (max-width: 1250px) {
  .form .container .form-wrapper .form-text {
    margin-bottom: 50px;
  }
}
@media (max-width: 1000px) {
  .form .container .form-wrapper .form-text {
    margin-bottom: 40px;
  }
}
@media (max-width: 650px) {
  .form .container .form-wrapper .form-text {
    margin-bottom: 20px;
  }
}
.form .container .form-wrapper .form-text h2 {
  margin-bottom: 30px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
  text-transform: uppercase;
}
.form .container .form-wrapper .form-text h2 span {
  color: #3e9cdc;
}
@media (max-width: 1250px) {
  .form .container .form-wrapper .form-text h2 {
    font-size: 28px;
    line-height: 28px;
  }
}
@media (max-width: 650px) {
  .form .container .form-wrapper .form-text h2 {
    font-size: 24px;
    line-height: 24px;
  }
}
.form .container .form-wrapper .form-text p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #bbbbbb;
}
.form .container .form-wrapper .form-services {
  margin-bottom: 80px;
}
@media (max-width: 1650px) {
  .form .container .form-wrapper .form-services {
    margin-bottom: 70px;
  }
}
@media (max-width: 1250px) {
  .form .container .form-wrapper .form-services {
    margin-bottom: 50px;
  }
}
@media (max-width: 1000px) {
  .form .container .form-wrapper .form-services {
    margin-bottom: 40px;
  }
}
@media (max-width: 700px) {
  .form .container .form-wrapper .form-services {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 650px) {
  .form .container .form-wrapper .form-services {
    margin-bottom: 20px;
  }
}
.form .container .form-wrapper .form-services .services-icon {
  display: flex;
  justify-content: space-between;
  padding: 0 54.5px;
  margin-bottom: 20px;
}
@media (max-width: 950px) {
  .form .container .form-wrapper .form-services .services-icon {
    padding: 0 15px;
  }
}
@media (max-width: 700px) {
  .form .container .form-wrapper .form-services .services-icon {
    padding: 0 15px 0 0;
    width: 95px;
    flex-direction: column;
    margin-bottom: 0px;
  }
}
.form .container .form-wrapper .form-services .services-icon .services-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
@media (max-width: 700px) {
  .form .container .form-wrapper .form-services .services-icon .services-wrapper {
    flex-direction: column;
  }
}
.form .container .form-wrapper .form-services .services-icon .services-wrapper .services-icon__img {
  width: 100px;
  height: 100px;
  background: #3e9cdc;
  border: 5px solid #286690;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
@media (max-width: 900px) {
  .form .container .form-wrapper .form-services .services-icon .services-wrapper .services-icon__img {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 900px) {
  .form .container .form-wrapper .form-services .services-icon .services-wrapper .services-icon__img img {
    width: 45px;
    height: 45px;
  }
}
.form .container .form-wrapper .form-services .services-icon .services-wrapper .services-icon__border {
  padding: 0 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .form .container .form-wrapper .form-services .services-icon .services-wrapper .services-icon__border {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .form .container .form-wrapper .form-services .services-icon .services-wrapper .services-icon__border {
    width: 6px;
    height: 50px;
    flex-direction: column;
    padding: 5px 0;
  }
}
.form .container .form-wrapper .form-services .services-icon .services-wrapper .services-icon__border .point {
  background: url("../img/icon/point.svg");
  width: 6px;
  height: 6px;
}
@media (max-width: 1150px) {
  .form .container .form-wrapper .form-services .services-icon .services-wrapper .services-icon__border .point:nth-child(1) {
    display: none;
  }
}
@media (max-width: 1000px) {
  .form .container .form-wrapper .form-services .services-icon .services-wrapper .services-icon__border .point:nth-child(2) {
    display: none;
  }
}
.form .container .form-wrapper .form-services .services-icon .services-wrapper_width-none {
  width: 100px;
}
@media (max-width: 700px) {
  .form .container .form-wrapper .form-services .services-icon .services-wrapper_width-none {
    width: 100%;
  }
}
.form .container .form-wrapper .form-services .services-text {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .form .container .form-wrapper .form-services .services-text {
    flex-direction: column;
    padding: 17px 0 10px 0;
  }
}
.form .container .form-wrapper .form-services .services-text p {
  max-width: 188px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 950px) {
  .form .container .form-wrapper .form-services .services-text p {
    max-width: 118px;
    word-break: break-all;
  }
}
.form .container .form-wrapper .form-input {
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1000px) {
  .form .container .form-wrapper .form-input {
    max-width: 740px;
    display: inline-block;
  }
}
.form .container .form-wrapper .form-input .select {
  position: relative;
  width: 31.57%;
}
@media (max-width: 1000px) {
  .form .container .form-wrapper .form-input .select {
    display: inline-block;
    width: 370px;
  }
}
@media (max-width: 420px) {
  .form .container .form-wrapper .form-input .select {
    width: 95%;
  }
}
.form .container .form-wrapper .form-input .select .dropdown__button {
  position: relative;
  display: block;
  width: 100%;
  height: 48px;
  border: 3px solid rgba(61, 64, 80, 0.85);
  margin-bottom: 30px;
  text-align: left;
  color: #ffffff;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background: rgba(61, 64, 80, 0.85);
  padding: 10px 35px 10px 10px;
  cursor: pointer;
}
.form .container .form-wrapper .form-input .select .dropdown__button::after {
  content: "";
  background: url("../img/icon/arrow.svg") no-repeat;
  width: 9px;
  height: 6px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.form .container .form-wrapper .form-input .select .dropdow__list {
  display: none;
  position: absolute;
  left: 0px;
  top: 48px;
  width: 100%;
  height: 180px;
  padding: 10px 35px 10px 10px;
  list-style-type: none;
  background-color: #272733;
  border: 3px solid rgba(61, 64, 80, 0.85);
  overflow-y: scroll;
  z-index: 10;
}
.form .container .form-wrapper .form-input .select .dropdow__list .dropdow__list-item {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  color: #ffffff;
}
.form .container .form-wrapper .form-input .select .dropdow__list .dropdow__list-item:hover {
  color: #42a9ed;
  transition: 0.3s;
}
.form .container .form-wrapper .form-input .select .dropdow__list_visible {
  display: block;
}
.form .container .form-wrapper .form-input .select .dropdown__input-hidden {
  display: none;
}
.form .container .form-wrapper .form-input .input {
  width: 100%;
  height: 48px;
  border: 3px solid rgba(61, 64, 80, 0.85);
  margin-bottom: 30px;
  text-align: left;
  color: #ffffff;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background: rgba(61, 64, 80, 0.85);
  width: 31.57%;
  padding: 10px;
}
@media (max-width: 1000px) {
  .form .container .form-wrapper .form-input .input {
    width: 370px;
  }
}
@media (max-width: 420px) {
  .form .container .form-wrapper .form-input .input {
    width: 95%;
  }
}
.form .container .form-wrapper .form-input .input::-moz-placeholder {
  color: #ffffff;
}
.form .container .form-wrapper .form-input .input:-ms-input-placeholder {
  color: #ffffff;
}
.form .container .form-wrapper .form-input .input::placeholder {
  color: #ffffff;
}
.form .container .form-wrapper .form-input .range {
  width: 66.41%;
}
@media (max-width: 1000px) {
  .form .container .form-wrapper .form-input .range {
    display: inline-block;
    width: 370px;
    margin-bottom: 30px;
  }
}
@media (max-width: 420px) {
  .form .container .form-wrapper .form-input .range {
    width: 95%;
  }
}
.form .container .form-wrapper .form-input .range .range-content {
  width: 100%;
  height: 22px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}
@media (max-width: 420px) {
  .form .container .form-wrapper .form-input .range .range-content {
    margin-bottom: 15px;
  }
}
.form .container .form-wrapper .form-input .range .range-input {
  width: 100%;
  height: 7px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #ffffff;
  border-radius: 50px;
  -webkit-appearance: none;
}
.form .container .form-wrapper .form-input .range .range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  background: #42a9ed;
  border-radius: 50%;
  border: solid #286690;
}
.form .container .form-wrapper .form-input .file-wrapper {
  width: 31.57%;
  height: 48px;
  position: relative;
}
@media (max-width: 1000px) {
  .form .container .form-wrapper .form-input .file-wrapper {
    display: inline-block;
    width: 370px;
  }
}
@media (max-width: 420px) {
  .form .container .form-wrapper .form-input .file-wrapper {
    width: 95%;
  }
}
.form .container .form-wrapper .form-input .file-wrapper input[type=file] {
  display: none;
}
.form .container .form-wrapper .form-input .file-wrapper .input__file-button {
  width: 100%;
  height: 48px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  background: #ffffff;
  border: 2px solid #3e9cdc;
  border-radius: 3px;
  color: #272733;
}
.form .container .form-wrapper .form-input .file-wrapper .input__file-button img {
  margin-right: 10px;
}
.form .container .form-wrapper .button-wrapper {
  text-align: center;
}
.form .container .form-wrapper .button-wrapper .button-form {
  width: 183px;
  height: 43px;
  background: #3e9cdc;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  width: 370px;
  height: 48px;
}
@media (max-width: 420px) {
  .form .container .form-wrapper .button-wrapper .button-form {
    width: 95%;
  }
}

.footer {
  background: #3d4050;
}
.footer .container {
  max-width: 1172px;
  margin: 0 auto;
  padding-right: 6px;
}
.footer .container .footer-wrapper {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
@media (max-width: 900px) {
  .footer .container .footer-wrapper {
    height: 120px;
    padding: 20px 0;
    flex-wrap: nowrap;
    display: grid;
    grid-template-areas: "A A A A   A A A A   A A A A" "B B B B   C C C C   D D D D" "E E E E   E E F F   F F F F";
    text-align: center;
  }
}
.footer .container .footer-wrapper .footer__text {
  color: #ffffff;
}
.footer .container .footer-wrapper .footer__vector {
  width: 1px;
  height: 18px;
  border-left: 1px solid #C3C3C3;
}
@media (max-width: 900px) {
  .footer .container .footer-wrapper .footer__vector {
    display: none;
  }
}
.footer .container .footer-wrapper .footer__icon {
  display: flex;
  align-items: center;
  color: #C3C3C3;
}
.footer .container .footer-wrapper .footer__icon img {
  margin-right: 10px;
}
@media (max-width: 400px) {
  .footer .container .footer-wrapper .footer__icon span {
    display: none;
  }
}
@media (max-width: 900px) {
  .footer .container .footer-wrapper .footer__icon {
    display: inline-block;
  }
}
@media (max-width: 900px) {
  .footer .container .footer-wrapper > div:nth-child(1) {
    grid-area: A;
  }
}
@media (max-width: 900px) {
  .footer .container .footer-wrapper > div:nth-child(3) {
    grid-area: B;
  }
}
@media (max-width: 900px) {
  .footer .container .footer-wrapper > div:nth-child(4) {
    grid-area: C;
  }
}
@media (max-width: 900px) {
  .footer .container .footer-wrapper > div:nth-child(5) {
    grid-area: D;
  }
}
@media (max-width: 900px) {
  .footer .container .footer-wrapper > div:nth-last-child(1) {
    grid-area: F;
  }
}
@media (max-width: 900px) {
  .footer .container .footer-wrapper > div:nth-last-child(2) {
    grid-area: E;
  }
}/*# sourceMappingURL=style.css.map */