@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@400;800&display=swap');

$fone-header: rgba(16, 16, 29, 0.9);
$fone-burger: #000;
$text-white: #FFFFFF;
$text-blue: #42A9ED;
$text-metu-blue: #43ABF0;



@import "block/_header";