@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@400;800&display=swap");

* {
  box-sizing: border-box;
}

$fone-header: rgba(16, 16, 29, 0.9);
$fone-black: #000;
$text-white: #ffffff;
$text-blue: #42a9ed;
$text-metu-blue: #43abf0;
$text-oders-title: #3e9cdc;
$button-border: #6f6d7b;
$button-text: #2a2b30;
$background-form: #272733;
$border-form-span: #c4c4c4;
$border-icon: #286690;
$text-gray: #bbbbbb;
$scrollbar-fone: #3d4050;
$fone-input: rgba(61, 64, 80, 0.85);
$range-input: rgba(255, 255, 255, 0.7);

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background-color: $scrollbar-fone;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: $text-oders-title;
  border-radius: 3px;
}

@mixin button-blue {
  width: 183px;
  height: 43px;
  background: $text-oders-title;
  border: 1px solid $text-white;
  color: $text-white;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
@mixin button-white {
  width: 183px;
  height: 43px;
  background: $text-white;
  border: 1px solid $button-border;
  color: $button-text;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

@mixin input {
  width: 370px;
  height: 48px;
  border: 3px solid $fone-input;
  margin-bottom: 30px;
  text-align: left;
  color: $text-white;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background: $fone-input;
}

@import "block/_header";
@import "block/_oders";
@import "block/_form";
