.footer {
  background: $scrollbar-fone;

  .container {
    max-width: 1172px;
    margin: 0 auto;
    padding-right: 6px;

    .footer-wrapper {
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;

      @media (max-width: 900px) {
        height: 120px;
        padding: 20px 0;
        flex-wrap: nowrap;
        display: grid;
        grid-template-areas:
          "A A A A   A A A A   A A A A"
          "B B B B   C C C C   D D D D"
          "E E E E   E E F F   F F F F";
        text-align: center;
      }

      .footer__text {
        color: $text-white;
      }

      .footer__vector {
        width: 1px;
        height: 18px;
        border-left: 1px solid $text-footer;
        @media (max-width: 900px) {
          display: none;
        }
      }
      .footer__icon {
        display: flex;
        align-items: center;
        color: $text-footer;

        img {
          margin-right: 10px;
        }

        span {
          @media (max-width: 400px) {
            font-size: 10px;
          }
        }
        @media (max-width: 900px) {
          display: inline-block;
        }
      }
    }
    .footer-wrapper > div:nth-child(1) {
      @media (max-width: 900px) {
        grid-area: A;
      }
    }
    .footer-wrapper > div:nth-child(3) {
      @media (max-width: 900px) {
        grid-area: B;
      }
    }
    .footer-wrapper > div:nth-child(4) {
      @media (max-width: 900px) {
        grid-area: C;
      }
    }
    .footer-wrapper > div:nth-child(5) {
      @media (max-width: 900px) {
        grid-area: D;
      }
    }
    .footer-wrapper > div:nth-last-child(1) {
      @media (max-width: 900px) {
        grid-area: F;
      }
    }
    .footer-wrapper > div:nth-last-child(2) {
      @media (max-width: 900px) {
        grid-area: E;
      }
    }
  }
}
